<!-- kanban-board-view.component.html -->
<div class="app-container">
  <div class="main-content" [class.content-expanded]="!sidenavOpen">
    <div *ngIf="activeTool==='tasks'" class="kanban-container">
      <div class="board-content">
        <div class="board-column" *ngFor="let column of columns">
          <div class="column-header">
            <h2 [contentEditable]="true"
              (blur)="updateColumnTitle(column, $event)">{{ column.title }}</h2>
          </div>

          <div class="task-list" (scroll)="onScroll($event)">
            <div class="task-card" (click)="openViewTask(task.id)" *ngFor="let task of column.tasks"
              [ngClass]="'priority-' + task.priority"
              [style.border-left-color]="getTaskTypeColor(task)"
              [style.border-left-width.px]="6"
              [style.border-left-style]="'solid'">
              <div class="task-header">
                <h3>{{ task.title }}</h3>
              </div>
              <p>{{ task.description }}</p>
              <div class="task-footer">
                <span class="due-date">Date: {{ task.dueDate | date:'shortDate'
                  }}</span>
              </div>
            </div>
            <div *ngIf="isLoading" class="loading">Loading...</div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="activeTool==='calendar'" class="kanban-container">
      <app-calendar></app-calendar>
    </div>
  </div>

  <app-view-task
    [isOpen]="panelOpen"
    [taskId]="panelTaskId"
    (close)="closePanel()">
  </app-view-task>
</div>
