:host{
    display: block;
}
::ng-deep .assign-student-dialog .mat-mdc-dialog-surface.mdc-dialog__surface {
    padding: 0 !important;
}

::ng-deep .assign-student-list thead tr{
    background: #f9fafb !important;
}
::ng-deep .assign-student-list th.mat-mdc-header-cell, td {
    border: 0px solid !important;
}
::ng-deep .assign-student-list tr {
    border: 1px solid #e5e5e5 !important;
}
::ng-deep .assign-student-list .active {
    background: #dbfce7;
    color: #016630;
    width: min-content;
    padding: 0 15px;
}
::ng-deep .assign-student-list .inactive {
    background: #ffe2e2;
    color: #9f0712;
    width: min-content;
    padding: 0 15px;
}