<div class="w-full p-4 px-6">
    <div class="header mb-4">
        <h2 class="text-2xl font-bold">View Progress</h2>
        <!-- Filter Dropdowns -->
        <div class="filters flex gap-4 mt-4 mb-4">

            <!-- Date Picker -->
            <!-- <mat-form-field appearance="outline" class="w-full">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" >
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <!-- Student Selector -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Student</mat-label>
                <mat-select [(ngModel)]="selectedStudent" (selectionChange)="onStudentChange($event.value)">
                    <mat-option *ngFor="let student of students" [value]="student">
                        {{student.firstName}} {{student.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Module Type Selector -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Module Type</mat-label>
                <mat-select [(ngModel)]="selectedVideoOption" (selectionChange)="onVideoOptionChange($event.value)">
                    <mat-option *ngFor="let option of videoOptions" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Subject Selector -->
            <mat-form-field appearance="outline" class="w-full" *ngIf="selectedVideoOption != 'Test'">
                <mat-label>Subject</mat-label>
                <mat-select [(ngModel)]="selectedSubject" (selectionChange)="onSubjectChange($event.value)">
                    <mat-option *ngFor="let subject of subjects" [value]="subject">
                        {{subject.subjectName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full" *ngIf="selectedVideoOption == 'Test'">
                <mat-label>ExamType</mat-label>
                <mat-select [(ngModel)]="selectedExamType" (selectionChange)="onExamTypeChange($event.value)">
                    <mat-option *ngFor="let examType of examTypes" [value]="examType">
                        {{examType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <!-- Course Modules Grid -->
    <div *ngIf="courseModules.length > 0">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" *ngIf="selectedVideoOption == 'Test'">
            <div *ngFor="let module of courseModules" class="module-card p-4 rounded-lg shadow"
                [ngClass]="{'border-green': module.status == '3', 'border-orange': module.status == '2', 'border-pink': module.status == '1'}">

                <div class="card-header mb-2">
                    <h4 class="text-lg font-medium">{{ module.title }}</h4>
                    <div class="duration">{{ module.duration }}</div>
                </div>

                <div class="progress-text">
                    {{ (module.noOfQuestionsAttempted / module.noOfQuestions) * 100 | number:'1.2-2' }}%
                </div>
                <div class="progress-container mt-2 mb-2">
                    <div class="progress-bar" [style.width.%]="(module?.noOfQuestionsAttempted / module.noOfQuestions) * 100 || 0"></div>
                    <div class="progress-text">
                        {{ (module.noOfQuestionsAttempted / module.noOfQuestions) * 100  }}%
                    </div>
                </div>

                <div class="card-footer mt-2">
                    <div  class="assigned-status">
                        <span>Marks : {{ module.marks }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedVideoOption == 'Video'">
            <div *ngFor="let video of courseModules">
                <h2 class="py-4 font-semibold text-xl">{{ video.topic }}</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div *ngFor="let videos of video.videos"
                        class="module-card p-4 rounded-lg shadow "
                        [ngClass]="{'border-green': videos.status == '3', 'border-orange': videos.status == '2', 'border-pink': videos.status == '1'}">

                        <div class="card-header mb-2">
                            <h4 class="text-lg font-medium">{{ videos.title }}</h4>
                            <div class="duration">{{ videos.videoLength }}</div>
                        </div>

                        <div class="progress-text" >
                            {{ getWatchedPercentage(videos.watchedTime, videos.videoLength) | number:'1.0-2' }}%

                        </div>
                        <div class="progress-container mt-2 mb-2">
                            <div class="progress-bar" [style.width.%]="getWatchedPercentage(videos.watchedTime, videos.videoLength) || 0"></div>
                            <div class="progress-text" >
                               {{ getWatchedPercentage(videos.watchedTime, videos.videoLength)  }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" *ngIf="selectedVideoOption == 'QBank'">
            <div *ngFor="let qbank of courseModules">
                <h2 class="py-4 font-semibold text-xl">{{ qbank.topicName }}</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div *ngFor="let qbanks of qbank.exams"
                        class="module-card p-4 rounded-lg shadow "
                        [ngClass]="{'border-green': qbanks.examStatus == '3', 'border-orange': qbanks.examStatus == '2', 'border-pink': qbanks.examStatus == '1'}">

                        <div class="card-header mb-2">
                            <h4 class="text-lg font-medium">{{ qbanks.examName }}</h4>
                            <!-- <div class="duration">{{ qbanks.duration }}</div> -->
                        </div>

                        <div class="progress-text" >
                            {{ (qbanks.noOfCompletedQuestion / qbanks.numberOfQuestions) * 100  }}%
                        </div>
                        <div class="progress-container mt-2 mb-2">
                            <div class="progress-bar" [style.width.%]="(qbanks.noOfCompletedQuestion / qbanks.numberOfQuestions) * 100 || 0"></div>
                            <div class="progress-text" >
                                {{ (qbanks.noOfCompletedQuestion / qbanks.numberOfQuestions) * 100 }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="courseModules.length <= 0">No Record Found</div>
</div>