:host{
    display: block;
}
.course-list mat-header-row.mat-header-row .mat-header-cell {
    color: #505050 !important;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 3px solid rgba(var(--fuse-primary-rgb), var(--tw-text-opacity)) !important;
}

.course-list mat-header-row.mat-header-row {
    background: #f1f5f9 !important;
}

.course-list {
    font-family: "Lexend Deca", sans-serif !important;
}

::ng-deep .delete-choice .mat-mdc-dialog-surface.mdc-dialog__surface {
    padding: 24px !important;
    min-width: 0 !important;
    max-width: 278px !important;
}

//to color if checkbox is disable
::ng-deep .mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background {
    background-color: rgba(var(--fuse-primary-rgb), var(--tw-text-opacity, 1)) !important;
}
::ng-deep .course-search .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper {
    border: 0 !important;
}
::ng-deep .course-search .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
    background: #e6e6f1 !important
}
::ng-deep .course-search .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix{    
    min-height: 40px;
}
::ng-deep .course-list thead tr{
    background: #f9fafb !important;
}
::ng-deep .course-list th.mat-mdc-header-cell, td {
    border: 0px solid !important;
}
::ng-deep .course-list tr {
    border: 1px solid #e5e5e5 !important;
}
::ng-deep .course-list .active {
    background: #dbfce7;
    color: #016630;
    width: min-content;
    padding: 0 15px;
}
::ng-deep .course-list .inactive {
    background: #ffe2e2;
    color: #9f0712;
    width: min-content;
    padding: 0 15px;
}